body {
	background: #ffffff;
}
.nav {
	padding-bottom: 0;
}
#container-header {
	margin-bottom: 0;
}
#container-content {
	margin-top: 0;
}
.nav li a {
	margin-top: 35px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 16px;
	border-top-right-radius: 8px;
}

@media screen and (max-width: 900px) {
	.nav {
		background: none;
	}
	.nav li {
		min-width: 140px;
	}
	.nav li a {
		margin-top: 0px;
	}
}

.nav li a.selected {
	color: #fff;
	background-color: rgba(13,108,0,0.4);
}

.nav li a:hover {
	background-color: rgba(13,108,0,0.6);
	color: #fff;
}

.nav li a.selected:hover {
	background-color: rgba(13,108,0,0.4);
}

.content {
	min-height: 400px;
}
.calc-input {
	width: calc(100% - 130px);
	margin: 4px 0px;
	font-size: 21px;
	padding: 1px 3px;
	border: 2px solid #777;
}
.calc-button{
	cursor: pointer;
	font-size: 21px;
	padding: 1px 3px;
	margin: 4px 4px 4px 0;
	background-color: #777;
	color: #fff;
	border: 2px solid #555;
	width: 100px;
}
#input-container {
}
#button-container {
	display: inline-block;
	float: right;
}
@media screen and (max-width: 900px) {
	.content-container {
		padding: 10px 0px;
	}
}
/********** notebook specific ***********/
#notebook{
}
#pane, .calc-input{
	font-family: monospace;
}
#pane{
	font-size: 18px;
	margin: 2px;
	border-right: 1px solid #3C6D7F;
	overflow: auto;
}
#pane .statement{
	background-color: #f0f0f0;
	margin: 3px 0 6px 0;
	padding: 3px 0;
}
.statement:hover{
	background-color: #FDFF9E;
}
.statement .input{
	padding: 0 10px;
	text-align: left;
}
.statement .output{
	padding: 0 10px;
	text-align: right;
}
.statement .error{
	color: #B51500;
}
.statement .input:hover, .statement .output:hover{
	background-color: #FCFF59;
	cursor: pointer;
}
.input-container-hover{
	background-color: #FDFF9E;
}