{% extends "base-raw.html" %}

{% block head_supplement %}
<style>

</style>
{% endblock %}

{% block body %}
<div class="content-container">
	<div class="content">
		<div class="body">
			<div id="notebook">
				<div id="pane"></div>
				<div id="message-center"></div>
				<div id="button-container">
					<button id="enter-button" class="calc-button" type="submit">enter</button>
				</div>
				<div id="input-container">
					<input id="expression-input" class="calc-input"/>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
