{% extends "base-raw.html" %}

{% block head_supplement %}
<style>

</style>
<script type="text/javascript" src="/static/js/jquery.notmin.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/calc.js"></script>
<script type="text/javascript" src="/static/js/calc-internal.js"></script>
<script type="text/javascript" src="/static/js/calc-test.js"></script>
<script type="text/javascript">
$(function(){//onReady
	var calc = new Calculator();
	var input = new Input();
	input.init();

	_output = new Notebook($('#pane'), calc, input);
	_output.init();

	//example entry
	_output.add('2+2^2/1');

	$('#input').focus();
});
</script>

{% endblock %}

{% block body %}
<div class="content-container">
	<div class="content">
		<div class="body">
			<div id="notebook">
				<div id="pane"></div>
				<div id="message-center"></div>
				<div id="button-container">
					<button id="enter-button" class="calc-button" type="submit">enter</button>
				</div>
				<div id="input-container">
					<input id="expression-input" class="calc-input"/>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
